{% extends 'base.html.twig' %}

{% block title 'Toutes les recettes' %}

{% block body %}
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat repellendus, voluptates molestias
        inventore pariatur enim suscipit nam et sit veritatis, sint illo ipsum recusandae quisquam tempora,
        sapiente tempore autem aliquam?
    </p>
    <ul>
        {% for recipe in recipes %}
        <li>
            <a href="{{ path('recipe.show', {id: recipe.id, slug: recipe.slug}) }}">{{ recipe.title }}</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
